<html itemscope itemtype="http://schema.org/Product">
  <head>
    <meta itemprop="name" content="Ruby PlusFeed">
    <meta itemprop="description" content="Create an RSS feed of your public Google+ posts">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Ruby PlusFeed - Unofficial Google+ User Feeds</title>
  </head>
  <body>
    <%= @index_content %>
    <script src="https://apis.google.com/js/plusone.js"></script>
  </body>
</html>