<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Ruby PlusFeed - Unofficial Google+ User Feeds</title>
  </head>
  <body>
    <%= @index_content %>
  </body>
</html>