<%= stylesheet_link_tag "style" %>
<div id="content">
  <div id="intro">
    <h2>
      Want a <span class="stress">feed</span> for your Google+ posts?
    </h2>
    <div id="inst">
      <p>
        Simply add a Google+ user number to the end of this site's URL to get an Atom feed of <em>public</em> posts.
      </p>
      <p>
        Example: <a href="http://plusfeed2.appspot.com/104961845171318028721">http://plusfeed2.appspot.com/<strong>104961845171318028721</strong></a>
      </p>
      <p>
        <br/>
        You can grab the source for this app on GitHub <a href="https://github.com/ehowe/ruby_plusfeed">here</a>.
      </p>
      <p>
        <em>Ported to Ruby/Rails by <a href="javascript:void">Eugene Howe</a></em><br/>
        <em>Original Python app created by <a href="http://www.russellbeattie.com">Russell Beattie</a></em><br/>
      </p>
    </div>
  </div>
</div>
